/* Global styles */
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  height: 100%;
}

/* Flexbox for full-page centering */

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

/* Login container styles */
.bg-secondary {
  background-color: #f8f9fa;
}

.vh-100 {
  height: 100vh;
}

.bg-white {
  background-color: #fff;
}

.p-3 {
  padding: 1.5rem;
}

.rounded {
  border-radius: 0.5rem;
}

.w-25 {
  width: 25%;
}

@media screen and (max-width: 768px) {
  .w-25 {
    width: 75%;
  }
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
}

.mb-3 {
  margin-bottom: 1rem;
}

label {
  font-weight: bold;
}

input {
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

input:focus {
  outline: none;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Button styles */
button,
.btn {
  cursor: pointer;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
  border-radius: 0.25rem;
}

.btn-success {
  background-color: #28a745;
  color: white;
}

.btn-success:hover {
  background-color: #218838;
}

.w-100 {
  width: 100%;
}

.rounded-0 {
  border-radius: 0;
}

.border {
  border: 1px solid #ced4da;
}

.bg-light {
  background-color: #f8f9fa;
}

.text-default {
  color: #6c757d;
}

.text-default:hover {
  color: #495057;
}

.btn-default:hover {
  background-color: #e2e6ea;
}
.link-button {
  display: block; /* Ensure it takes up the width of its container */
  padding: 0.5rem; /* Adjust padding to control size */
  background-color: #3e8b3e; /* Green color */
  color: white;
  text-align: center;
  border: none;
  border-radius: 0.25rem;
  width: 100%; /* Full width of its container */
  box-sizing: border-box; /* Ensures padding doesn't exceed container */
  text-decoration: none; /* Remove underline */
  transition: background-color 0.2s ease-in-out;
  margin-top: 20px;
}

.link-button:hover {
  background-color: #2e6e2e; /* Darker green on hover */
}
